[Unit]
Description=Check Taste locally every two minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
RandomizedDelaySec=15s
Persistent=true

[Install]
WantedBy=timers.target

